build/
dist/
assets/mo/
.fake_home/
.venv/


data/gettext/
debian/pomodorino*
debian/files
debian/.debhelper/
doc/pomodorino.1
po/compile.report

*.AppImage
*.pyc
*.egg-info
*.compiled

*~
*\#
*.swp
.pybuild/
